<div class="container-fluid p-4">
    <div class="row h-100">
        <!-- Left side: Contacts -->
        <div class="col-md-4 h-100">
            <div class="card h-100" style="height: 90vh">
                <div class="card-header">
                    <div class="contacts row">
                        <div class="col">
                            <div class="d-flex bd-highlight">
                                <div class="img_cont">
                                    <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                                </div>
                                <div class="user_info">
                                    <span>{{loggedInUser.firstName}} {{loggedInUser.lastName}}</span>
                                    <p>{{loggedInUser.email}}</p>
                                </div>
                            </div>
                            <div class="dropdownIcon"><button type="button" class = "btn btn-primary" style="cursor: pointer;" (click)="onLogout()">Logout </button></div>
                        </div>
                    </div>
                    
                    <div class="input-group">
                        <input type="text" placeholder="Search..." name="" class="form-control search">
                    </div>
                </div>
                <div class="card-body contacts_body" style="height :55vh !important">
                    <div class="row">
                        <div class="col-12 my-2" style="cursor: pointer; height: 60px !important ; border: 1px solid black" [class.active]="item.isActive" *ngFor="let item of users" (click)="openChat(item)">
                            <div class="d-flex bd-highlight">
                                <div class="img_cont">
                                    <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                                </div>
                                <div class="user_info">
                                    <span>{{item.firstName}} {{item.lastName}}</span>
                                    <p>{{item.email}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Right side: Chat -->
        <div class="col-md-8">
            <div class="card">
                <div class="card-header msg_head">
                    <div class="d-flex bd-highlight">
                        <div class="img_cont">
                            <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                        </div>
                        <div class="user_info">
                            <span>Chat with {{chatUser?.firstName}} {{chatUser?.lastName}}</span>
                        </div>
                    </div>
                </div>

                <!-- Start of Message Container -->
                <div class="card-body msg_card_body">
                    <div *ngFor="let message of messages">
                        <!-- Message received, left side -->
                        <div class="messageItem" *ngIf="message.userId != loggedInUser.id">
                            <div class="d-flex justify-content-start mb-4">
                                <div class="msg_cotainer">
                                    {{message.text}}
                                    <span class="msg_time">
                                        {{message.messageDate | date:'shortTime'}}, {{message.messageDate | date:'shortDate'}}
                                        </span>
                                </div>
                            </div>
                        </div>

                        <!-- Message sent, right side -->
                        <div class="messageItem" *ngIf="message.userId == loggedInUser.id" >
                            <div class="d-flex justify-content-end mb-4">
                                <div class="msg_cotainer w-75" style="position:relative; width:100%;">
                                    <p>{{message.text}}</p>
                                    
                                    <small class="msg_time_send">{{message.messageDate | date:'shortTime'}}, {{message.messageDate | date:'shortDate'}}</small>
                                    
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Message Container -->

                <div class="card-footer">
                    <form>
                        <textarea class="w-100" rows="2" placeholder="Type your message..." [(ngModel)]="message" name="message"></textarea>
                        <div class="form-row">
                            <div class="form-group col d-flex justify-content-end">
                                <button type="button" class="btn btn-primary" (click)="SendMessage()">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>









